curl -X PUT "http://<your.elastic.instance>:9200/liveboxes-*" -H 'Content-Type: application/json' -d '{
  "mappings": {
    "properties": {
      "geoip": {
        "properties": {
          "location": {"type": "geo_point"}
        }
      }
    }}
}'
